/DeterminationAutomat/DeterminationAutomat/input.dot
/DeterminationAutomat/DeterminationAutomat/input.png
/DeterminationAutomat/DeterminationAutomat/input2.txt
/DeterminationAutomat/DeterminationAutomat/output.dot
/DeterminationAutomat/DeterminationAutomat/output.png
